*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --ff-title: 'Edu TAS Beginner', sans-serif;
  --ff-date: 'Sometype Mono', monospace;
}


#base-header{
    background-image: url(/img/wall.png);
    
}

#base-main{
    background-image: url(/img/cork.png);
    height: 200px;
}

h1{
    font-family: var(--ff-title);
    margin: 0;
}