/* ---GENERAL---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
}

/* ---UTILIES--- */

:root {
  --ff-title: 'Edu TAS Beginner', sans-serif;
  --ff-date: 'Sometype Mono', monospace;
}


/* ----IMAGE BACKGROUND--- */

#base-header{
    background-image: url(/img/wall.png);
    
}

#base-main{
    background-image: url(/img/cork.png);
}

/* ---HEADER--- */

h1{
    font-family: var(--ff-title);
    margin: 0;
}

/* ---MAIN--- */

#row-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.font-type{
    font-family: var(--ff-date);
    font-size: 0.5rem;
    padding: 0 0.4rem;
}

.card-photo{
    background-color: white;
    position: relative;
    width: calc(100% / 4)
}

.card-img{
    padding: 0.4rem;
}

.pin{
    position: absolute;
    display: flex;
    height: 1rem;
    top: -7px;
    left: 45%;
}

